# Exercise 3: Classification using MLP 

In this exercise student familiarize the neural network classification problem.
The purpose is use MLP classification in Penguin  Dataset to classify different species just like in the Iris dataset. The dataset contains measurement of 3 different species of penguins coming from 3 islands in the Palmer Archipelago. These three classes are Adelie, Chinstrap, and Gentoo. If ‘Gentoo’ sounds familiar that is because Gentoo Linux is named after it! Also, these datasets contain culmen dimensions for each species. The culmen is the upper ridge of a bird’s bill. 

Columns in dataset:
- species a factor denoting penguin species (Adélie, Chinstrap and Gentoo)
- island a factor denoting island in Palmer Archipelago, Antarctica (Biscoe, Dream or Torgersen)
- bill_length_mm a number denoting bill length (millimeters)
- bill_depth_mm a number denoting bill depth (millimeters)
- flipper_length_mm an integer denoting flipper length (millimeters)
- body_mass_g an integer denoting body mass (grams)
- sex a factor denoting penguin sex (female, male)

Scatter plots of features can be found [Github](https://github.com/allisonhorst/palmerpenguins)

More information about the dataset:
[Penguin dataset on Kaggle](https://www.kaggle.com/parulpandey/palmer-archipelago-antarctica-penguin-data/version/1)

Dataset can be found from Moodle: penguins_size.csv

In [1]:
# Import libraries and dataset


import numpy as np
import pandas as pd

import matplotlib.pyplot as plt

from sklearn import preprocessing
from sklearn.model_selection import train_test_split
# from sklearn.metrics import accuracy_score
import tensorflow as tf
from tensorflow import keras
from tensorflow.keras import layers

df = pd.read_csv('data\penguins_size.csv')
df

,species,island,culmen_length_mm,culmen_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,MALE
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,FEMALE
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,FEMALE
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,FEMALE
...,...,...,...,...,...,...,...
339,Gentoo,Biscoe,NaN,NaN,NaN,NaN,NaN
340,Gentoo,Biscoe,46.8,14.3,215.0,4850.0,FEMALE
341,Gentoo,Biscoe,50.4,15.7,222.0,5750.0,MALE
342,Gentoo,Biscoe,45.2,14.8,212.0,5200.0,FEMALE
343,Gentoo,Biscoe,49.9,16.1,213.0,5400.0,MALE

In [2]:
# Data examination (You can do as you want)

df['species'].value_counts()

Adelie       152
Gentoo       124
Chinstrap     68
Name: species, dtype: int64

In [3]:
df.isnull().sum()

species               0
island                0
culmen_length_mm      2
culmen_depth_mm       2
flipper_length_mm     2
body_mass_g           2
sex                  10
dtype: int64

In [4]:
df[df.isna().any(axis=1)]

,species,island,culmen_length_mm,culmen_depth_mm,flipper_length_mm,body_mass_g,sex
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
8,Adelie,Torgersen,34.1,18.1,193.0,3475.0,NaN
9,Adelie,Torgersen,42.0,20.2,190.0,4250.0,NaN
10,Adelie,Torgersen,37.8,17.1,186.0,3300.0,NaN
11,Adelie,Torgersen,37.8,17.3,180.0,3700.0,NaN
47,Adelie,Dream,37.5,18.9,179.0,2975.0,NaN
246,Gentoo,Biscoe,44.5,14.3,216.0,4100.0,NaN
286,Gentoo,Biscoe,46.2,14.4,214.0,4650.0,NaN
324,Gentoo,Biscoe,47.3,13.8,216.0,4725.0,NaN
339,Gentoo,Biscoe,NaN,NaN,NaN,NaN,NaN

In [5]:
df.dropna(inplace = True)
df['species'].value_counts()

Adelie       146
Gentoo       120
Chinstrap     68
Name: species, dtype: int64

In [6]:
df.isnull().sum()

species              0
island               0
culmen_length_mm     0
culmen_depth_mm      0
flipper_length_mm    0
body_mass_g          0
sex                  0
dtype: int64

In [7]:
# The categorical variables would have object or category datatype

df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 334 entries, 0 to 343
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   species            334 non-null    object
 1   island             334 non-null    object
 2   culmen_length_mm   334 non-null    float64
 3   culmen_depth_mm    334 non-null    float64
 4   flipper_length_mm  334 non-null    float64
 5   body_mass_g        334 non-null    float64
 6   sex                334 non-null    object
dtypes: float64(4), object(3)
memory usage: 20.9+ KB

In [8]:
# check category values and drop the ones that don't fall in a wanted category

print(df['species'].unique())
print(df['island'].unique())
print(df['sex'].unique())

df.loc[df['sex'] == '.']
df = df.loc[df['sex'] != '.'].copy()
# df.info()

print(df['sex'].unique())

df.reset_index(drop = True, inplace = True)

['Adelie' 'Chinstrap' 'Gentoo']
['Torgersen' 'Biscoe' 'Dream']
['MALE' 'FEMALE' '.']
['MALE' 'FEMALE']

In [9]:
df

,species,island,culmen_length_mm,culmen_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,MALE
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,FEMALE
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,FEMALE
3,Adelie,Torgersen,36.7,19.3,193.0,3450.0,FEMALE
4,Adelie,Torgersen,39.3,20.6,190.0,3650.0,MALE
...,...,...,...,...,...,...,...
328,Gentoo,Biscoe,47.2,13.7,214.0,4925.0,FEMALE
329,Gentoo,Biscoe,46.8,14.3,215.0,4850.0,FEMALE
330,Gentoo,Biscoe,50.4,15.7,222.0,5750.0,MALE
331,Gentoo,Biscoe,45.2,14.8,212.0,5200.0,FEMALE
332,Gentoo,Biscoe,49.9,16.1,213.0,5400.0,MALE

In [10]:
# Categorical varibles: Encode columns Species, Island and Sex
# species = Adélie, Chinstrap and Gentoo
# sex = MALE, FEMALE
# island = Torgersen, Biscoe and Dream


# categorical encoding for the labels

df['species'] = pd.Categorical(df['species'])
df['species'] = df['species'].cat.codes

# dummy encoding (drop_first = True) to avoid dummy variable traps

df_dummies = pd.get_dummies(df, prefix = {'sex': 'sex',
                                       'island': 'island'},
                         drop_first = True)

print(df_dummies.shape)

(333, 8)

In [11]:
df_dummies.head(5)

,species,culmen_length_mm,culmen_depth_mm,flipper_length_mm,body_mass_g,island_Dream,island_Torgersen,sex_MALE
0,0,39.1,18.7,181.0,3750.0,0,1,1
1,0,39.5,17.4,186.0,3800.0,0,1,0
2,0,40.3,18.0,195.0,3250.0,0,1,0
3,0,36.7,19.3,193.0,3450.0,0,1,0
4,0,39.3,20.6,190.0,3650.0,0,1,1

In [12]:
# Features = island, culmen_length_mm, culmen_depth_mm, flipper_length_mm, body_mass_g & sex
# Label = species

y = np.array(df_dummies[['species']])
X = np.array(df_dummies[df_dummies.columns.drop('species')])

# Scaling
scaler = preprocessing.StandardScaler()
Xscaled = scaler.fit_transform(X)

scalery = preprocessing.StandardScaler()
yscaled = scalery.fit_transform(y)


# Dataset splitting
# training set 80%
# test set 20%

Xtrain, Xtest, ytrain, ytest = train_test_split(X, y, test_size = 0.2)

# Using from_tensor_slices -function convert Numpy-tables to TensorFlow's Dataset class
# https://towardsdatascience.com/how-to-use-dataset-in-tensorflow-c758ef9e4428
train_dataset = tf.data.Dataset.from_tensor_slices((Xtrain, ytrain))
test_dataset = tf.data.Dataset.from_tensor_slices((Xtest,ytest))

# Define the batch size
train_dataset,test_dataset = train_dataset.batch(1), test_dataset.batch(1)

In [13]:
# shapes just to help me keep track

print("Training Input shape\t: {}".format(Xtrain.shape))
print("Testing Input shape\t: {}".format(Xtest.shape))
print("Training Output shape\t: {}".format(ytrain.shape))
print("Testing Output shape\t: {}".format(ytest.shape))

Training Input shape	: (266, 7)
Testing Input shape	: (67, 7)
Training Output shape	: (266, 1)
Testing Output shape	: (67, 1)

In [33]:
# Define neural network using Keras Function API
# Input layer
# Hidden layers  
# Output layer 

model = keras.Sequential(
    [
        layers.Dense(8, activation = 'relu', input_shape = (Xtrain.shape[1], )), # here same as: input_shape = (7, )
        layers.Dense(100, activation = 'relu'),
        layers.Dense(3, activation = 'softmax'),
    ]
)

# Print the structure of model: model.summary()
model.summary()

Model: "sequential_6"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_18 (Dense)             (None, 8)                 64
_________________________________________________________________
dense_19 (Dense)             (None, 100)               900
_________________________________________________________________
dense_20 (Dense)             (None, 3)                 303
=================================================================
Total params: 1,267
Trainable params: 1,267
Non-trainable params: 0
_________________________________________________________________

In [34]:
# Compile with following parameters
# optimizer= adam 
# loss= sparse_categorical_crossentropy
# metrics= accuracy

model.compile(loss='sparse_categorical_crossentropy', # Loss
              optimizer='adam', # Adam optimizer with default parameters
              metrics=['accuracy'] # Accuracy is used in classification problems. 
             )

In [35]:
# Fit model with 
# epochs: test with different amout of epoch and write down the accurary

model.fit(train_dataset, epochs=100)

Epoch 1/100
266/266 [==============================] - 0s 606us/step - loss: 28.7513 - accuracy: 0.3684
Epoch 2/100
266/266 [==============================] - 0s 612us/step - loss: 13.1545 - accuracy: 0.4023
Epoch 3/100
266/266 [==============================] - 0s 588us/step - loss: 13.7402 - accuracy: 0.3496
Epoch 4/100
266/266 [==============================] - 0s 619us/step - loss: 7.6059 - accuracy: 0.4098
Epoch 5/100
266/266 [==============================] - 0s 608us/step - loss: 5.7328 - accuracy: 0.4474
Epoch 6/100
266/266 [==============================] - 0s 599us/step - loss: 7.1005 - accuracy: 0.4361
Epoch 7/100
266/266 [==============================] - 0s 615us/step - loss: 5.5718 - accuracy: 0.4549
Epoch 8/100
266/266 [==============================] - 0s 608us/step - loss: 4.2895 - accuracy: 0.4549
Epoch 9/100
266/266 [==============================] - 0s 593us/step - loss: 3.5898 - accuracy: 0.4699
Epoch 10/100
266/266 [==============================] - 0s 619us/step - loss: 3.0269 - accuracy: 0.5564
Epoch 11/100
266/266 [==============================] - 0s 618us/step - loss: 2.9811 - accuracy: 0.5075
Epoch 12/100
266/266 [==============================] - 0s 614us/step - loss: 2.4012 - accuracy: 0.5113
Epoch 13/100
266/266 [==============================] - 0s 608us/step - loss: 1.8186 - accuracy: 0.5414
Epoch 14/100
266/266 [==============================] - 0s 617us/step - loss: 1.6531 - accuracy: 0.5639
Epoch 15/100
266/266 [==============================] - 0s 593us/step - loss: 1.4512 - accuracy: 0.6203
Epoch 16/100
266/266 [==============================] - 0s 612us/step - loss: 1.3280 - accuracy: 0.6316
Epoch 17/100
266/266 [==============================] - 0s 596us/step - loss: 1.2068 - accuracy: 0.6429
Epoch 18/100
266/266 [==============================] - 0s 616us/step - loss: 1.1087 - accuracy: 0.6466
Epoch 19/100
266/266 [==============================] - 0s 606us/step - loss: 1.0111 - accuracy: 0.6617
Epoch 20/100
266/266 [==============================] - 0s 594us/step - loss: 0.9304 - accuracy: 0.6654
Epoch 21/100
266/266 [==============================] - 0s 634us/step - loss: 0.7744 - accuracy: 0.7030
Epoch 22/100
266/266 [==============================] - 0s 648us/step - loss: 0.7305 - accuracy: 0.7218
Epoch 23/100
266/266 [==============================] - 0s 654us/step - loss: 0.6635 - accuracy: 0.7481
Epoch 24/100
266/266 [==============================] - 0s 614us/step - loss: 0.6185 - accuracy: 0.7669
Epoch 25/100
266/266 [==============================] - 0s 656us/step - loss: 0.5633 - accuracy: 0.7932
Epoch 26/100
266/266 [==============================] - 0s 630us/step - loss: 0.5227 - accuracy: 0.7895
Epoch 27/100
266/266 [==============================] - 0s 591us/step - loss: 0.5414 - accuracy: 0.7895
Epoch 28/100
266/266 [==============================] - 0s 646us/step - loss: 0.5139 - accuracy: 0.79320s - loss: 0.6629 - accuracy: 0.
Epoch 29/100
266/266 [==============================] - 0s 614us/step - loss: 0.4798 - accuracy: 0.8045
Epoch 30/100
266/266 [==============================] - 0s 623us/step - loss: 0.4679 - accuracy: 0.8008
Epoch 31/100
266/266 [==============================] - 0s 587us/step - loss: 0.4451 - accuracy: 0.8271
Epoch 32/100
266/266 [==============================] - 0s 599us/step - loss: 0.4135 - accuracy: 0.8271
Epoch 33/100
266/266 [==============================] - 0s 605us/step - loss: 0.4350 - accuracy: 0.8158
Epoch 34/100
266/266 [==============================] - 0s 711us/step - loss: 0.4786 - accuracy: 0.8008
Epoch 35/100
266/266 [==============================] - 0s 689us/step - loss: 0.3941 - accuracy: 0.8496
Epoch 36/100
266/266 [==============================] - 0s 692us/step - loss: 0.3983 - accuracy: 0.8496
Epoch 37/100
266/266 [==============================] - 0s 664us/step - loss: 0.3615 - accuracy: 0.8459
Epoch 38/100
266/266 [==============================] - 0s 659us/step - loss: 0.3792 - accuracy: 0.8383
Epoch 39/100
266/266 [==============================] - 0s 594us/step - loss: 0.3735 - accuracy: 0.8534
Epoch 40/100
266/266 [==============================] - 0s 584us/step - loss: 0.3852 - accuracy: 0.8496
Epoch 41/100
266/266 [==============================] - 0s 578us/step - loss: 0.3950 - accuracy: 0.8421
Epoch 42/100
266/266 [==============================] - 0s 637us/step - loss: 0.4241 - accuracy: 0.8534
Epoch 43/100
266/266 [==============================] - 0s 861us/step - loss: 0.3960 - accuracy: 0.8722
Epoch 44/100
266/266 [==============================] - 0s 622us/step - loss: 0.3635 - accuracy: 0.8647
Epoch 45/100
266/266 [==============================] - 0s 605us/step - loss: 0.3734 - accuracy: 0.8609
Epoch 46/100
266/266 [==============================] - 0s 620us/step - loss: 0.4046 - accuracy: 0.8346
Epoch 47/100
266/266 [==============================] - 0s 600us/step - loss: 0.3982 - accuracy: 0.8383
Epoch 48/100
266/266 [==============================] - 0s 618us/step - loss: 0.3787 - accuracy: 0.8609
Epoch 49/100
266/266 [==============================] - 0s 616us/step - loss: 0.4068 - accuracy: 0.8647
Epoch 50/100
266/266 [==============================] - 0s 628us/step - loss: 0.3526 - accuracy: 0.8759
Epoch 51/100
266/266 [==============================] - 0s 612us/step - loss: 0.3524 - accuracy: 0.8759
Epoch 52/100
266/266 [==============================] - 0s 605us/step - loss: 0.3956 - accuracy: 0.8271
Epoch 53/100
266/266 [==============================] - 0s 652us/step - loss: 0.3393 - accuracy: 0.8797
Epoch 54/100
266/266 [==============================] - 0s 626us/step - loss: 0.3960 - accuracy: 0.8233
Epoch 55/100
266/266 [==============================] - 0s 687us/step - loss: 0.6269 - accuracy: 0.7556
Epoch 56/100
266/266 [==============================] - 0s 632us/step - loss: 0.5992 - accuracy: 0.7406
Epoch 57/100
266/266 [==============================] - 0s 596us/step - loss: 0.6992 - accuracy: 0.6692
Epoch 58/100
266/266 [==============================] - 0s 590us/step - loss: 0.6529 - accuracy: 0.6917
Epoch 59/100
266/266 [==============================] - 0s 584us/step - loss: 0.6418 - accuracy: 0.6955
Epoch 60/100
266/266 [==============================] - 0s 575us/step - loss: 0.6429 - accuracy: 0.6880
Epoch 61/100
266/266 [==============================] - 0s 655us/step - loss: 0.6431 - accuracy: 0.6955
Epoch 62/100
266/266 [==============================] - 0s 617us/step - loss: 0.6377 - accuracy: 0.6955
Epoch 63/100
266/266 [==============================] - 0s 566us/step - loss: 0.6356 - accuracy: 0.6955
Epoch 64/100
266/266 [==============================] - 0s 610us/step - loss: 0.6274 - accuracy: 0.6992
Epoch 65/100
266/266 [==============================] - 0s 603us/step - loss: 0.6268 - accuracy: 0.6992
Epoch 66/100
266/266 [==============================] - 0s 595us/step - loss: 0.6202 - accuracy: 0.7068
Epoch 67/100
266/266 [==============================] - 0s 615us/step - loss: 0.6348 - accuracy: 0.7030
Epoch 68/100
266/266 [==============================] - 0s 577us/step - loss: 0.6213 - accuracy: 0.6917
Epoch 69/100
266/266 [==============================] - 0s 598us/step - loss: 0.6365 - accuracy: 0.6917
Epoch 70/100
266/266 [==============================] - 0s 628us/step - loss: 0.6147 - accuracy: 0.6992
Epoch 71/100
266/266 [==============================] - 0s 576us/step - loss: 0.6275 - accuracy: 0.7030
Epoch 72/100
266/266 [==============================] - 0s 586us/step - loss: 0.6236 - accuracy: 0.6992
Epoch 73/100
266/266 [==============================] - 0s 615us/step - loss: 0.6020 - accuracy: 0.6992
Epoch 74/100
266/266 [==============================] - 0s 616us/step - loss: 0.6051 - accuracy: 0.6992
Epoch 75/100
266/266 [==============================] - ETA: 0s - loss: 0.6062 - accuracy: 0.6951   - ETA: 0s - loss: 0.6340 - accuracy: 0. - 0s 616us/step - loss: 0.6035 - accuracy: 0.6955
Epoch 76/100
266/266 [==============================] - 0s 612us/step - loss: 0.6023 - accuracy: 0.6992
Epoch 77/100
266/266 [==============================] - 0s 535us/step - loss: 0.5971 - accuracy: 0.6992
Epoch 78/100

266/266 [==============================] - 0s 591us/step - loss: 0.6006 - accuracy: 0.7030
Epoch 79/100
266/266 [==============================] - 0s 583us/step - loss: 0.5955 - accuracy: 0.7068
Epoch 80/100
266/266 [==============================] - 0s 610us/step - loss: 0.5949 - accuracy: 0.7105
Epoch 81/100
266/266 [==============================] - 0s 582us/step - loss: 0.5914 - accuracy: 0.7068
Epoch 82/100
266/266 [==============================] - 0s 564us/step - loss: 0.5865 - accuracy: 0.7105
Epoch 83/100
266/266 [==============================] - 0s 592us/step - loss: 0.5920 - accuracy: 0.6992
Epoch 84/100
266/266 [==============================] - 0s 611us/step - loss: 0.5830 - accuracy: 0.7105
Epoch 85/100
266/266 [==============================] - 0s 627us/step - loss: 0.5847 - accuracy: 0.7105
Epoch 86/100
266/266 [==============================] - 0s 705us/step - loss: 0.5757 - accuracy: 0.7105
Epoch 87/100
266/266 [==============================] - 0s 588us/step - loss: 0.5724 - accuracy: 0.7068
Epoch 88/100
266/266 [==============================] - 0s 594us/step - loss: 0.6049 - accuracy: 0.6917
Epoch 89/100
266/266 [==============================] - 0s 614us/step - loss: 0.6512 - accuracy: 0.7030
Epoch 90/100
266/266 [==============================] - 0s 596us/step - loss: 0.5630 - accuracy: 0.7218
Epoch 91/100
266/266 [==============================] - 0s 590us/step - loss: 0.5930 - accuracy: 0.7143
Epoch 92/100
266/266 [==============================] - 0s 591us/step - loss: 0.5843 - accuracy: 0.7143
Epoch 93/100
266/266 [==============================] - 0s 1ms/step - loss: 0.5689 - accuracy: 0.7143
Epoch 94/100
266/266 [==============================] - 0s 606us/step - loss: 0.5939 - accuracy: 0.7143
Epoch 95/100
266/266 [==============================] - 0s 596us/step - loss: 0.5543 - accuracy: 0.7256
Epoch 96/100
266/266 [==============================] - 0s 570us/step - loss: 0.5510 - accuracy: 0.7180
Epoch 97/100
266/266 [==============================] - 0s 597us/step - loss: 0.5710 - accuracy: 0.7218
Epoch 98/100
266/266 [==============================] - 0s 594us/step - loss: 0.5598 - accuracy: 0.7218
Epoch 99/100
266/266 [==============================] - 0s 601us/step - loss: 0.5537 - accuracy: 0.7143
Epoch 100/100
266/266 [==============================] - 0s 600us/step - loss: 0.5654 - accuracy: 0.7143

In [20]:
# Evaluate()
# Implementation comes this cell

results = model.evaluate(test_dataset)
print(results)
print(f"Accuracy in percents: {results[1]*100:.0f}%")

67/67 [==============================] - 0s 706us/step - loss: 0.2162 - accuracy: 0.9552
[0.21620455384254456, 0.9552238583564758]
Accuracy in percents: 96%

__Conclusion__

Short conclusion:
- How number of nodes in hidden layer affects the results?
- How the number of epochs affects the results?

Seems like drastic increase in number of nodes drives the accuracy up quickly. Increasing the number of epochs is lot slower.

In [ ]:
# trainprediction = scalery.inverse_transform(model.predict(Xtrain))
# testprediction = scalery.inverse_transform(model.predict(Xtest))

## After the predictions the scaled versions of the input variables are no longer needed. So let's scale them back.
# Xtrain = scaler.inverse_transform(Xtrain)
# Xtest = scaler.inverse_transform(Xtest)

# ytrain = scalery.inverse_transform(ytrain)
# ytest = scalery.inverse_transform(ytest)

In [ ]:
# print('Accuracy in train data %.2f'
#       % accuracy_score(np.argmax(ytrain, axis = 1), trainprediction))

# print('Accuracy in test data %.2f'
#       % accuracy_score(np.argmax(ytest, axis = 1), testprediction))

In [ ]:
# talteen

# df.corr(method='pearson')

with pd.option_context('display.max_rows', None,
                       'display.max_columns', None,
                       'display.precision', 3,
                       ):
    display(df)

In [ ]:
# I will not use Scikit's OneHotEncoder because I want the the encoded data to have variable names

# from sklearn.preprocessing import LabelEncoder, OneHotEncoder

# Categorical varibles: Encode columns Species, Island and Sex
# species = Adélie, Chinstrap and Gentoo
# sex = MALE, FEMALE
# island = Torgersen, Biscoe and Dream

# Create the OneHotEncoder object
# parameter drop = ‘first’ will handle dummy variable traps -> uses dummy encoding instead of onehotencoding
#   https://www.geeksforgeeks.org/ml-dummy-variable-trap-in-regression-models/)
#   https://towardsdatascience.com/encoding-categorical-variables-one-hot-vs-dummy-encoding-6d5b9c46e2db
# onehotencoder = OneHotEncoder(sparse=False, handle_unknown='error',drop='first')

# Perform OneHotEncoding to a column called "Species" using onehotendoder object fit and tranform
# onehotencoder_df = pd.DataFrame(onehotencoder.fit_transform(df[["species"]]))
# onehotencoder_df